html{ 
   box-sizing: border-box;
}
*, *::before, *::after{
   box-sizing: inherit;
}
body{
   background-image: url(../img/bg.png);
   font-family: 'Bebas Neue', cursive;
}
a{
   color: #b9b9b9;
   display: inline-block;
   text-decoration: none;
}
ul{
   list-style: none;
   margin: 0;
   padding: 0;
}
li{
   display: inline-block;
}
/* ----- */
.container{
   max-width: 980px;
   margin: 0 auto;
   padding: 0px 10px;
}
/* ----- */
.header__inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
}
.header__logo a{
   color: #f3af9d;
   font-size: 36px;
}
.header__logo a span{
   color: #e8603c;
}
.header__menu li + li{
   margin-left: 28px;
}
.header__menu a{
   color: #b9b9b9;
   font-size: 16px;
   font-family: 'Bebas Neue', cursive;
   line-height: 10px;
   text-transform: uppercase;
   padding-top: 22px;
   padding-bottom: 18px;
}
.header__menu a:active{
   color: rgb(232, 102, 60);
}

.header__menu-btn{
   width: 30px;
   display: none;
}
.header__menu-row{
   width: 100%;
   background-color: #000;
   height: 4px;
   margin-bottom: 4px;
}

/* ----- */
.slider__inner{
   margin-bottom: 17px;
}
.slider__item{
   background-color: #e8603c;
   min-height: 400px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.thumbs__item{
   width: 140px;
   height: 120px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.thumbs .slick-slide{
   max-width: 140px;
}
.thumbs .slick-track div + div{
   margin-left: 24px;
}
.slider__item-title{
   background-color: rgba(232, 102, 60, .6);
   color: #fff;
   font-size: 15px;
   font-weight: 500;
   width: 410px;
   height: 120px;
   margin-left: 60px;
   margin-top: 250px;
   padding-left: 20px;
   padding-right: 10px;
}
.slider__item-title span{
   font-size: 20px;
   font-weight: 700;
   display: block;
   padding-bottom: 15px;
   padding-top: 20px;
}
.prev{
   position: absolute;
   top: 45%;
   height: 40px;
   width: 30px;
   z-index: 1;
   cursor: pointer;
   left: 20px;
}
.next {
   position: absolute;
   top: 45%;
   height: 40px;
   width: 30px;
   z-index: 1;
   cursor: pointer;
   right: 20px;
}

.infos{
   padding-top: 40px;
}
.info__inner{
   display: flex;
   justify-content: space-between;
}
.info{
   width: 300px;
   height: 250px;
}
.info__title{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 240px;
   height: 50px;
   padding-left: 70px;
   color: #e8663c;
   font-size: 18px;
   text-transform: uppercase;
   position: relative;
}
.info__icons{
   position: absolute;
   top: 0;
   left: 0;
}
.info__text{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   padding-top: 35px;
   margin-bottom: 30px;
}
.info__link{
   text-transform: uppercase;
   font-size: 14px;
   color: #fff;
   border: 1px solid #e8663c;
   background-color: #e8663c;
   width: 55px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.works{
   padding-top: 45px;
   color: #e8663c;
   font-size: 18px;
   margin-bottom: 60px;
}
.works__inner{
   display: flex;
   justify-content: space-between;
}
.work{
   width: 220px;
   height: 245px;
   padding-top: 25px;
}
.works__img{
   width: 220px;
   height: 185px;
}
.works__info{
   height: 60px;
   color: #e8663c;
   font-size: 14px;
   position: relative;
   background-color: #fff;
   border-left: 1px solid #dbdbdb;
   border-bottom: 1px solid #dbdbdb;
   border-right: 1px solid #dbdbdb;
}
.works__info span{
   color: #b9b9b9;
   font-size: 18px;
   display: block;
}
.works__info-text{   
   position: absolute;
   top: 10px;
   left: 10px;
}

.footer{
   padding-top: 30px;
}
.footer__inner{
   padding-top: 30px;
   padding-bottom: 40px;
   background-color: #e8663c;
   padding-left: 50px;
   display: flex;
   justify-content: space-between;
}
.footer__item{
   width: 265px;
   color: #fff;
}
.footer__title{
   font-size: 20px;
}
.footer__text{
   padding-top: 30px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
}
.footer__text li + li{
   padding-top: 15px;
}
.footer__text li span{
   color: #f3b29d;
}